/* Style page content */
.main {
  margin: 40px 20px 0 220px;
  background-color: white;
} 
/* first section */
.first-page {
  margin-top: 50px;
}
.date {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  input {
    margin-right: 5px;
  }
}

.date-icons {
  display: flex;
  justify-content: center;

  i {
    display: flex;
    justify-content: center;
    margin-right: 5px;
    font-size: 18px;
    background-color: $color-btn-background;
    color: $text-main-color;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    line-height: 30px;
  }
}


.date-input {
  height: 30px;
}

.paragraph p {
  display: inline-block;
  text-align: center;
}

.info-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

.first-row{
  padding-right: 30px;

  p{
    padding-right: 30px;
  }
}

.second-row {
  padding-right: 58px;

  p{
    padding-right: 30px;
  }
}

.chart{
  max-width: 1170px;
}

.chart-img {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  
}
/* second section */

.first-link{
  border-top: solid 1px $text-main-color;
}

.kodilla-link {
  border-bottom: solid 1px $text-main-color;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 16px;

  p {
    padding-left: 12px;
    padding-right: 140px;
    font-family: $paragraph-font;
    font-weight: bold;
  }

  i {
    opacity: 0;
    color: black;
    line-height: 25px;
    padding-right: 20px;
  }

  a {
    padding-right: 100px;
    color: rgb(123, 117, 221);
    text-decoration: none;
  }
}

.link-box :hover {
  background-color: $color-hover;

  i {
    opacity: 1;
  }
}
