nav .topnav{
  border-bottom: 1px solid $text-main-color;
  background-color: white;
}

.topnav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  width: 100%;
}
   
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: $text-main-color;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  
  border-left: 1px solid $text-main-color;

  i{
    margin-right: 8px;
  }
}
   
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}